{% extends "base.html" %}
{% block title %}ユーザー一覧{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- sidebar menu -->
            {% include "robofork_app/_admin_side_menu.html" with admin_user="active" %}

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <h2>ユーザー一覧</h2>
                            <p class="col-md-11">
                                Robofork管理画面を利用できるユーザー一覧
                            </p>
                            <div class="col-md-1 text-right">
                                <a href="#" role="button" class="btn btn-success btn-sm">新規作成</a>
                            </div>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">ユーザーID</th>
                                        <th class="column-title">ユーザー名</th>
                                        <th class="column-title">役割</th>
                                        <th class="column-title"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-size:125%;">admin</td>
                                        <td style="font-size:125%;">NKC管理者</td>
                                        <td style="font-size:125%;">全体管理者</td>
                                        <td class="text-right">
                                            <a class="btn btn-primary btn-sm">詳細</a>
                                            <a class="btn btn-danger btn-sm" disabled="true">削除</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:125%;">shigaadmin</td>
                                        <td style="font-size:125%;">滋賀工場管理者</td>
                                        <td style="font-size:125%;">滋賀工場管理者</td>
                                        <td class="text-right">
                                            <a class="btn btn-primary btn-sm">詳細</a>
                                            <a class="btn btn-danger btn-sm">削除</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:125%;">shiga0001</td>
                                        <td style="font-size:125%;">滋賀工場運用者1</td>
                                        <td style="font-size:125%;">滋賀工場</td>
                                        <td class="text-right">
                                            <a class="btn btn-primary btn-sm">詳細</a>
                                            <a class="btn btn-danger btn-sm">削除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}