{% extends "base.html" %}
{% block title %}NKC管理画面{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- sidebar menu -->
            {% include "robofork_app/_admin_side_menu.html" with admin_user="active" %}

            <!-- page content -->
            <div class="right_col" role="main">
                <h3>ユーザー一覧:ユーザー権限や参照できる配置場所など</h3>
                <h4>
                    ・ユーザー新規登録・修正・削除
                </h4>
            </div>
        </div>
    </div>
{% endblock %}