{% extends "base.html" %}
{% block title %}車両明細 | Robofork{% endblock %}

{% block content %}
  <div class="container body">
    <div class="main_container">
      <!-- sidebar menu -->
      {% include "robofork_app/_admin_side_menu.html" with admin_vehicle="active" %}

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="row">
          <div class="col-md-12">
            {% if form.errors %}
                <div class="col-md-8 alert alert-danger" role="alert">
                    {% for field, error in form.errors.items %}
                        {{ field|escape }}: {{ error|escape }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="x_panel">
              <div class="x_title">
                <h2>車両明細</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-8">
                    {% if form.instance.id %}
                        <form action="{% url 'vehicle_save' form.instance.id %}" method="post" class="form-horizontal">
                    {% else %}
                        <form action="{% url 'vehicle_save' %}" method="post" class="form-horizontal">
                    {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="vehicle_name">車両名</label>
                                <input type="text" class="form-control" id="{{ form.name.auto_id }}" name="{{ form.name.html_name }}"
                                       placeholder="車両名" value="{{ form.name.value|default_if_none:'' }}"/>
                                <small id="emailHelp" class="form-text text-muted">車両名を入力してください</small>
                            </div>
                            <div class="form-group">
                                <label for="vehicle_vehicle_no">車両名</label>
                                <input type="text" class="form-control" id="{{ form.vehicle_no.auto_id }}"
                                       name="{{ form.vehicle_no.html_name }}" placeholder="車両ID"
                                       value="{{ form.vehicle_no.value|default_if_none:'' }}"/>
                                <small id="emailHelp" class="form-text text-muted">車両を識別するID等を入力してください</small>
                            </div>
                            <button type="submit" class="btn btn-primary">登録</button>
                        </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}