{% extends "base.html" %}
{% block title %}車両一覧 | Robofork{% endblock %}

{% block content %}
    <div class="container">
        <h1>車両一覧</h1>
        <div class="col-md-8">
            {% if vehicles %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">車両名</th>
                            <th scope="col">車両ID</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for vehicle in vehicles %}
                        <tr>
                            <th scope="row">{{ vehicle.id }}</th>
                            <td>{{ vehicle.name }}</td>
                            <td>{{ vehicle.vehicle_no }}</td>
                            <td><a class="btn btn-success" href="{% url 'vehicle_detail' vehicle.id %}" role="button">編集</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-secondary" role="alert">
                    車両が見つかりません
                </div>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'vehicle_new' %}" role="button">新規登録</a>
        </div>
    </div>
{% endblock %}