{% extends "base.html" %}
{% block title %}車両一覧 | Robofork{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block content %}
    <div class="container body">
      <div class="main_container">
        <!-- sidebar menu -->
        {% include "robofork_app/_admin_side_menu.html" with admin_vehicle="active" %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <h2>車両一覧</h2>
                  <p class="col-md-11">
                  </p>
                  <div class="col-md-1 text-right">
                    <a href="{% url 'vehicle_new' %}" role="button" class="btn btn-success btn-sm">新規作成</a>
                  </div>
                <table class="table table-striped jambo_table bulk_action">
                  <thead class>
                  <tr>
                    <th class="column-title" class="column-title">#</th>
                    <th class="column-title">車両名</th>
                    <th class="column-title">車両ID</th>
                    <th class="column-title"></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for vehicle in vehicles %}
                    <tr>
                      <th scope="row">{{ vehicle.id }}</th>
                      <td>{{ vehicle.name }}</td>
                      <td>{{ vehicle.vehicle_no }}</td>
                      <td><a class="btn btn-success" href="{% url 'vehicle_detail' vehicle.id %}" role="button">編集</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}