{% extends "base.html" %}
{% block title %}運用 | Robofork{% endblock %}

{% block page_scripts %}<script src="{{ STATIC_URL }}robofork_app/js/operation.js"></script>{% endblock %}
{% block page_style_sheets %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}robofork_app/css/operation.css" />{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center" style="background-color: black;">
            <img id="map-img" src="{{ STATIC_URL }}robofork_app/img/test/map1.jpg">
        </div>
    </div>
{% endblock %}
