{% block admin_side_menu %}
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-cloud"></i> <span>NKC Robofork</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li class="{{ admin_location|default:"" }}"><a href="{% url 'admin_location_index' %}"><i class="fa fa-map-marker"></i> 配置場所 </a></li>
                                <li class="{{ admin_vehicle|default:"" }}"><a href="{% url 'admin_vehicle_index' %}"><i class="fa fa-truck"></i> 車両管理 </a></li>
                                <li class="{{ admin_vehicle_status|default:"" }}"><a href="{% url 'admin_vehicle_status_index' %}"><i class="fa fa-bar-chart-o"></i> 車両ステータス </a></li>
                                <li class="{{ admin_user|default:"" }}"><a href="{% url 'admin_user_index' %}"><i class="fa fa-user"></i> ユーザー管理 </a></li>
                                <li><a><i class="fa fa-cog"></i> その他設定 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="{{ admin_setting_vehicle_type_user_index|default:"" }}"><a href="{% url 'admin_setting_vehicle_type_user_index' %}">車輌型式</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
