{% extends "base.html" %}
{% block title %}Roboforkプロジェクト{% endblock %}

{% block content %}

<!-- ログイン画面 20171205 -->
<h1>NKC</h1>
<h1>Welcome to RoboFork IoT Manager</h1><br />
<form action="/okuda" method="post" class="form-horizontal">
    {% csrf_token %}
 <div class="form-group">
    <div class="col-md-16"></div>
 </div>

  <div class="form-group">
    <div class="col-md-12 col-md-offset-2">
      <input type="text" class="form-control" id="login_name" name="name" placeholder="Name" value="{{ name1 }}" /><br />
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-12">
      <input type="text" class="form-control" id="input_password" name="password" placeholder="Password"  value="{{ password1 }}"/></label><br />
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-offset-2 col-md-8">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
  </div>

</form>

{% endblock %}