{% extends "base.html" %}
{% block title %}滋賀工場ログイン{% endblock %}
{% block body_class %}login{% endblock %}

{% block content %}
    <div class="container">
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>NKC Robofork ログイン</h1>
              <div>
                <input type="text" class="form-control" placeholder="ユーザー名" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="パスワード" required="" />
              </div>
              <div>
                <a class="btn btn-large btn-primary submit" href="{% url 'admin_location_index' %}">ログイン</a>
              </div>

              <div class="clearfix"></div>
            </form>
          </section>
        </div>

      </div>
    </div>

{% endblock %}