{% extends "base.html" %}
{% block title %}通信テスト | Robofork{% endblock %}

{% block content %}
    <div class="container">
        <h2>通信テスト</h2>
        <div class="alert alert-success" role="alert">送信データ</div>
        <div class="form-group row">
            <label for="can_id" class="col-sm-2 col-form-label">CAN_ID(Hex)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="can_id" name="can_id" value=""/>
            </div>
        </div>
        <div class="form-group row">
            <label for="can_data" class="col-sm-2 col-form-label">CAN_DATA(Hex)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="can_data" name="can_data" value=""/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-2">
                <button type="button" id="can_send" class="btn btn-primary">送信</button>
            </div>
        </div>

        <div class="alert alert-info" role="alert">受信データ</div>
        <div class="form-group">
            <textarea class="form-control" id="can_received" rows="10" readonly></textarea>
        </div>

        <div class="alert alert-warning" role="alert">ルート走行実行</div>
        <div class="form-group row">
            <div class="col-sm-10 offset-2">
                <button type="button" id="route-execute" class="btn btn-warning">実行</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(function() {
        // 送信ボタンクリック
        $('#can_send').click(function() {
            $.ajax({
                url: '/mqtt_test/send',
                type: 'POST',
                data: {
                    can_id: $('#can_id').val(),
                    can_data: $('#can_data').val()
                }
            }).done(function(data) {
                if (data["result"] && data["result"] == true) {
                    $('#can_send').popover('show');
                    setTimeout(function() {
                        $('#can_send').popover('hide');
                    }, 1500);
                }
            });
        });

        // 送信ボタン: Popover定義
        $('#can_send').popover({
            content: '送信しました',
            trigger: 'manual'
        });

        // WebSocket定義
        var socket = new WebSocket("ws://" + window.location.host + "/mqtt_test_ws");
        socket.addEventListener('open', function (event) {
            console.log("WebSocket Connected!");
        });
        socket.addEventListener('message', function (event) {
            console.log(event.data);
            $('#can_received').val(Date() + " "  + event.data + "\n" + $('#can_received').val());
        });

        // ルート走行実行ボタン
        $('#route-execute').click(function() {
            $.ajax({
                url: '/mqtt_test/route_execute'
            }).done(function(data) {
                if (data["result"] && data["result"] == true) {
                    $('#route-execute').popover('show');
                    setTimeout(function() {
                        $('#route-execute').popover('hide');
                    }, 1500);
                }
            });
        });

        // 送信ボタン: Popover定義
        $('#route-execute').popover({
            content: '実行要求を送信しました',
            trigger: 'manual'
        });
    });
    </script>
{% endblock %}