{% extends "base.html" %}
{% block title %}運用 | Robofork{% endblock %}

{% block page_style_sheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}robofork_app/css/operation_plan.css" />
{% endblock %}
{% block page_scripts %}
    <script src="{{ STATIC_URL }}robofork_app/vendor/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}robofork_app/js/operation_plan_detail.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="map-container">
                    <img id="map-img" src="{{ STATIC_URL }}robofork_app/img/test/map1.jpg">
                    <svg id="map-draw-layer"></svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
