{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% block title %}運用 | Robofork{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block page_style_sheets %}
<!-- コンポーネント内では使わないため、コンポーネントの外で使う場合に追加する
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}robofork_app/css/operation_plan.css" />
    -->
{% endblock %}
{% block page_scripts %}
    {% render_bundle 'main' 'js' %}
{% endblock %}

{% block content %}
    <div class="container body operation-plan-detail" id="app">
        <!-- sidebar menu -->
        {% include "robofork_app/_side_menu.html" with operation_plan_index="active" %}

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-6">
                    <h2>マップ画面？</h2>
                    <map-viewer></map-viewer>
                </div>
                <div class="col-md-6">
                    <h2>指示画面！</h2>
                    <command-viewer></command-viewer>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
