{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{ location.name }} | Robofork</title>
  <link rel="stylesheet" type="text/css" href="{% static 'robofork_app/vendor/bootstrap-3.3.7/css/bootstrap.min.css' %}"/>
  <script src="{% static 'robofork_app/vendor/jquery.3.2.1.js' %}"></script>
  <script src="{% static 'robofork_app/vendor/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
  <style type="text/css">
    body {
      background-color: #2F3F52;
      color: #ffffff;
    }
    hr {
      margin: 5px 0;
      opacity: 0.5;
    }
    hr.light {
      margin: 4px;
      opacity: 0.25;
    }
    a {
      width: 30%;
    }
    .col-sm-12 {
      margin-bottom: 35px;
    }
  </style>
</head>
<body>
<div class="container">
  <h4><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ location.name }} 操作メニュー</h4>
  <hr>
  <div class="row">
    {% for vehicle in vehicles %}
      <h5>　　{{ vehicle.name }} - {{ vehicle.vehicle_no }} ({{ vehicle.vehicle_model.name }})</h5>
      <div class="col-sm-12 text-center">
        <hr class="light">
        <a href="/sp/vehicle/status/{{ vehicle.id }}" class="btn btn-primary btn-lg">状況表示</a>
        <a href="/sp/{{ vehicle.id }}" class="btn btn-success btn-lg">運転計画</a>
        <a href="/sp/vehicle/control/{{ vehicle.id }}" class="btn btn-warning btn-lg">手動操作</a>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <button id="button-emergency-stop" class="btn btn-danger btn-lg col-xs-12" style="height:60px;">緊急停止</button>
  </div>
</div>
</body>
<script type="text/javascript">
$(function() {
    var rbfkSpIndexLocationId = "{{ location.id }}";
    $('#button-emergency-stop').click(function() {
        $.ajax({
            url: '/api/emergency/' + rbfkSpIndexLocationId + '/execute',
            method: 'POST',
            data: {
                emergency_type: 0,
                is_cancel: false,
            }
        })
    });
});
</script>
</html>
