{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{ vehicle.name }}ステータス | Robofork</title>
  <link rel="stylesheet" type="text/css" href="{% static 'robofork_app/vendor/bootstrap-3.3.7/css/bootstrap.min.css' %}"/>
  <script src="{% static 'robofork_app/vendor/jquery.3.2.1.js' %}"></script>
  <script src="{% static 'robofork_app/vendor/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
  <style type="text/css">
    body {
      background-color: #2F3F52;
      color: #ffffff;
    }
    .row {
      margin: 5px;
    }
    .icon-button {
      width: 100%;
      height: 100px;
      font-size: 140%;
      font-weight: 600;
    }
  </style>
</head>
<body class="">
  <div class="container">
    <h4><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> {{ vehicle.name }} 運行計画</h4>
    <div class="row">
      {% for operation_plan in operation_plan_list %}
      <div class="col-xs-6">
        <button class="icon-button btn btn-success" data-operation_plan_id="{{ operation_plan.id }}">{{ operation_plan.name }}</button>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
<script type="text/javascript">
$(function () {
    $('.icon-button').click(function() {
        var operationId = $(this).data("operation_plan_id");
        $.ajax({
            url: '/api/operation_plan/' + operationId + '/execute',
            data: {}
        })
    });
});
</script>
</html>
