{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{ vehicle.name }}ステータス | Robofork</title>
  <link rel="stylesheet" type="text/css" href="{% static 'robofork_app/vendor/bootstrap-3.3.7/css/bootstrap.min.css' %}"/>
  <script src="{% static 'robofork_app/vendor/jquery.3.2.1.js' %}"></script>
  <script src="{% static 'robofork_app/vendor/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
  <style type="text/css">
    body {
      background-color: #2F3F52;
      color: #ffffff;
    }
    body.emergency {
      background-color: #FF4444;
    }
    hr {
      margin: 5px 10px;
      opacity: 0.5;
    }
    hr.light {
      background-color: #2F3F52;
    }
    .row {
      margin: 10px;
    }
    .col-xs-12 {
      padding: 15px 10px;
      border-radius: 4px;
      background-color: #F7F7F7;
      color: #2F3F52;
    }
    .col-xs-12 h5 {
      margin-top: 0;
      font-weight: 700;
    }

    #task_name, #status_name {
      font-size: 1.1em;
      font-weight: bold;
    }
  </style>
</head>
<body class="">
  <div class="container">
    <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ vehicle.name }} ステータス</h4>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h5>ステータス</h5>
        <hr class="light">
        <div id="status_name">ー</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h5>現在の運行計画</h5>
        <hr class="light">
        <div id="task_name">----</div>
        <div id="task_explain"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h5>その他情報</h5>
        <hr class="light">
        <div id="other_info"></div>
      </div>
    </div>

  </div>
</body>
<script type="text/javascript">
    $(function () {
        // 各種ID取得
        var locationId = "{{ vehicle.location_id }}"
        var vehicleId = "{{ vehicle.id }}"

        // 各車両と緊急停止を監視する
        watchEmergencyStatus();

        function watchEmergencyStatus() {
            var lastId = -1;

            var client = new WebSocket("ws://" + window.location.host + "/vehicle_operation_status/" + locationId);
            client.onmessage = function(event) {
                var parsedData = JSON.parse(event.data);

                // 各車両
                for (var i = 0; i < parsedData["vehicles"].length; i++) {
                    if (vehicleId != parsedData["vehicles"][i]["id"]) {
                        continue;
                    }
                    var vehicleData = parsedData["vehicles"][i]['vehicle_status'];

                    $('#status_name').text(vehicleData['status_name']);

                    // タスク名取得
                    if (vehicleData["vehicle_operation_plan_id"] != 0
                        && lastId != vehicleData["vehicle_operation_plan_id"]) {
                        $.ajax({
                            url: '/api/operation_plan/' + vehicleData["vehicle_operation_plan_id"] + '/load'
                        }).done(function(data) {
                            $('#task_name').text(data.name);
                            $('#task_explain').text(data.explain);
                            lastId = data.id;
                        });
                    }

                    // 緊急だったら背景色変更
                    if (vehicleData["status_code"] != 0) {
                        $("body").addClass('emergency');
                    } else {
                        $("body").removeClass('emergency');
                    }

                    // その他情報を表示
                    var infoStrList = [];
                    infoStrList.push("バッテリー(v): " + vehicleData["battery"]);
                    infoStrList.push("ロードセル重量(kg): " + vehicleData["weight_road_cell"]);
                    infoStrList.push("リフト高さ(cm): " + vehicleData["lift_height"]);
                    infoStrList.push("マスト傾斜(x): " + vehicleData["lift_slant_x"]);
                    infoStrList.push("マスト傾斜(y): " + vehicleData["lift_slant_y"]);
                    $('#other_info').html(infoStrList.join('<br>'));
                }
            };
            client.onerror = function(error) {
                console.log(error);
            };
        }
    });</script>
</html>
