{% extends "base.html" %}
{% load static %}
{% block title %}設定 | 車両型式{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- sidebar menu -->
            {% include "robofork_app/_admin_side_menu.html" with admin_setting_vehicle_type_user_index="active" %}

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <h2>Robofork車両タイプ一覧</h2>
                            <p class="col-md-11">
                                Roboforkの車両タイプ一覧
                            </p>
                            <div class="col-md-1 text-right">
                                <a href="{% url 'admin_setting_vehicle_type_detail' %}" role="button" class="btn btn-success btn-sm">新規作成</a>
                            </div>
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">車両タイプ名</th>
                                        <th class="column-title">説明</th>
                                        <th class="column-title">画像</th>
                                        <th class="column-title"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="font-size:125%;">FG-15</td>
                                        <td style="font-size:125%;">Robofork FG-15</td>
                                        <td><img src="{% static 'robofork_app/img/test/tmp-fg-15.png' %}" width="100" /></td>
                                        <td class="text-right">
                                            <a href="{% url 'admin_setting_vehicle_type_detail' %}" class="btn btn-primary btn-sm">詳細</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}