{% extends "base.html" %}
{% block title %}NKC管理画面{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- sidebar menu -->
            {% include "robofork_app/_admin_side_menu.html" with admin_setting_vehicle_type_user_index="active" %}

            <!-- page content -->
            <div class="right_col" role="main">
                <h3>車輌型式一覧:フォークリストの種類の一覧</h3>
                <h4>
                    ・車両型式登録・修正・削除<br>
                    　　写真登録, 車両基本情報登録(ホイールベースなど)<br>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}