{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% block title %}運用 | Robofork{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block page_style_sheets %}
<!-- コンポーネント内では使わないため、コンポーネントの外で使う場合に追加する
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}robofork_app/css/operation_plan.css" />
    -->
{% endblock %}
{% block page_scripts %}
    {% render_bundle 'main' 'js' %}
{% endblock %}

{% block content %}
    <div class="container body operation-plan-detail">
        <!-- sidebar menu -->
        {% include "robofork_app/_side_menu.html" with operation_plan_index="active" %}

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="x_panel">
                <div class="x_title">
                    <h3>未実装</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted">
                        ・デザインと画面配置（地図と一覧の位置やその他ボタンの位置）<br>
                        ・計画名, 車両紐付け, 優先度, PLC連携
                    </p>
                </div>
            </div>

            <div id="app"></div>
        </div>
    </div>
{% endblock %}
