{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% block title %}運用 | Robofork{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block page_style_sheets %}
<!-- コンポーネント内では使わないため、コンポーネントの外で使う場合に追加する
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}robofork_app/css/operation_plan.css" />
    -->
{% endblock %}
{% block page_scripts %}
    {% render_bundle 'main' 'js' %}
{% endblock %}

{% block content %}
    <div class="container body operation-plan-detail">
        <!-- sidebar menu -->
        {% include "robofork_app/_side_menu.html" with operation_plan_index="active" %}

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- Vue.js Contents -->
            <div
              id="app"
              data-save="roboforkSaveCallback"
              data-cancel="roboforkCancelCallback"
            ></div>
          <script>
window.roboforkSaveCallback = function() {
  $(document).trigger('showInfoAlert', { message: '保存しました' });
};
window.roboforkCancelCallback = function() {
  window.location = Constants.PREV_PAGE_URL(this.locationId);
};
          </script>
        </div>
    </div>
{% endblock %}
