{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block title %}滋賀工場{% endblock %}
{% block body_class %}nav-md{% endblock %}
{% block page_style_sheets %}
  <style type="text/css">
  #emergency-status-label-parent {
    overflow: visible;  /* 隣にあるラベルを正しく表示さるため */
  }
  </style>
{% endblock %}
{% block page_scripts %}
  {% render_bundle 'main' 'js' %}
  <script type="text/javascript">
  var rbfkHomeIndexLocationId = "{{ location_id }}";
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}robofork_app/js/home.js"></script>
{% endblock %}

{% block content %}
  <div class="container body">
    <div class="main_container">
      <!-- sidebar menu -->
      {% include "robofork_app/_side_menu.html" with home_index="active" %}

      <!-- page content -->
      <div class="right_col" role="main" style="min-height:1200px;">

        <div class="x_panel">
          <div class="x_title">
            <h2>緊急指示
              <small>全Roboforkに対する緊急一括操作です。</small>
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-md-6">
                <button class="button-emergency btn btn-lg btn-danger col-md-8" data-emergency-type="0"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 緊急停止</button>
                <button class="button-emergency-cancel btn btn-sm btn-success col-md-3" data-emergency-type="0">解除</button>
              </div>
              <div class="col-md-3">
                <button class="button-emergency btn btn-sm btn-warning" data-emergency-type="1">[DEMO]障害物検知1</button>
                <button class="button-emergency-cancel btn btn-sm btn-success" data-emergency-type="1">解除</button>
              </div>
              <div class="col-md-3">
                <button class="button-emergency btn btn-sm btn-warning" data-emergency-type="2">[DEMO]障害物検知2</button>
                <button class="button-emergency-cancel btn btn-sm btn-success" data-emergency-type="2">解除</button>
              </div>
            </div>
          </div>
        </div>

        <div class="x_panel">
          <div class="x_title">
            <h2 id="emergency-status-label-parent">現在の状況</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">

              <div class="col-md-7 app-container">
                <!-- vue.js control -->
                <div
                  id="app"
                  data-select="onRoboforkChangeStatus"
                >
                </div>
                <script type="text/javascript">
                  window.onRoboforkChangeStatus = function(vehicleId) {
                      RBFK_HOME.onRoboforkChangeStatus(vehicleId);
                  }
                </script>
              </div>

              <div class="col-md-5">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                  <tr class="headings">
                    <th class="column-title">車両名</th>
                    <th class="column-title">状態</th>
                    <th class="column-title">運行計画</th>
                    <th class="column-title"></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for vehicle in vehicles %}
                  <tr>
                    <td>{{ vehicle.name }}</td>
                    <td id="vehicle_status_1_{{ vehicle.id }}">-</td>
                    <td id="vehicle_operation_name_1_{{ vehicle.id }}">-</td>
                    <td class="text-right">
                      <a class="button-vehicle-auto btn btn-primary btn-xs" data-vehicle-id="{{ vehicle.id }}" data-is-to-auto="yes">自動</a>
                      <a class="button-vehicle-manual btn btn-success btn-xs" data-vehicle-id="{{ vehicle.id }}" data-is-to-manual="">手動</a>
                      <a class="button-vehicle-stop btn btn-danger btn-sm" data-vehicle-id="{{ vehicle.id }}">停止</a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="x_panel">
          <div class="x_title">
            <h2>運行計画の実行</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                  <tr class="headings">
                    <th class="column-title">運行計画名</th>
                    <th class="column-title">説明</th>
                    <th class="column-title">車両名</th>
                    <th class="column-title">状態</th>
                    <th class="column-title">バッテリー</th>
                    <th class="column-title"></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for operation_plan in operation_plans %}
                  <tr>
                    <td id="operation_plan_{{ operation_plan.id }}">{{ operation_plan.name }}</td>
                    <td>{{ operation_plan.explain }}</td>
                    <td>{{ operation_plan.vehicle.name }}</td>
                    <td id="vehicle_status_1[{{ vehicle.id }}]">-</td>
                    <td>
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" style="width: 78%;"></div>
                      </div>
                    </td>
                    <td class="text-right">
                      <a class="button-route-execute btn btn-primary" data-route-id="{{ operation_plan.id }}">運行開始</a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /compose -->
{% endblock %}
