{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block title %}滋賀工場{% endblock %}
{% block body_class %}nav-md{% endblock %}
{% block page_style_sheets %}
  <style type="text/css">
  .app-container {
    background-color: #8c8c8c;
  }
  </style>
{% endblock %}
{% block page_scripts %}
  {% render_bundle 'main' 'js' %}
  <script type="text/javascript" src="{{ STATIC_URL }}robofork_app/js/home.js"></script>
{% endblock %}

{% block content %}
  <div class="container body">
    <div class="main_container">
      <!-- sidebar menu -->
      {% include "robofork_app/_side_menu.html" with home_index="active" %}

      <!-- page content -->
      <div class="right_col" role="main">

        <div class="x_panel">
          <div class="x_title">
            <h2>緊急指示
              <small>全Roboforkに対する緊急一括操作です。</small>
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-md-4">
                <a href="" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> インターロックによる緊急停止</a>
              </div>
              <div class="col-md-4">
                <a href="" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 火災警報(デモ)</a>
              </div>
            </div>
          </div>
        </div>

        <div class="x_panel">
          <div class="x_title">
            <h2>現在の状況
              <small>Roboforkの位置やステータスが表示されます</small>
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">

              <div class="col-md-7 app-container">
                <!-- vue.js control -->
                <div id="app"></div>
              </div>

              <div class="col-md-5">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                  <tr class="headings">
                    <th class="column-title">車両ID</th>
                    <th class="column-title">状態</th>
                    <th class="column-title">運行計画</th>
                    <th class="column-title"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="font-size:125%;">FX15-1</td>
                    <td style="font-size:125%;">運行</td>
                    <td style="font-size:125%;">R05-1段目からR06-2段目へ</td>
                    <td class="text-right">
                      <a class="btn btn-danger btn-sm">停止</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size:125%;">FX15-2</td>
                    <td style="font-size:125%;">運行</td>
                    <td style="font-size:125%;">R01-1段目からR04-1段目</td>
                    <td class="text-right">
                      <a class="btn btn-danger btn-sm">停止</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size:125%;">FX15-3</td>
                    <td style="font-size:125%;">待機</td>
                    <td style="font-size:125%;"></td>
                    <td class="text-right">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="x_panel">
          <div class="x_title">
            <h3>運行計画の実行</h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p class="text-muted">
              画面が狭いから別画面へ移動する？
            </p>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                  <tr class="headings">
                    <th class="column-title">運行計画</th>
                    <th class="column-title">車両ID</th>
                    <th class="column-title">状態</th>
                    <th class="column-title">バッテリー</th>
                    <th class="column-title"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="font-size:125%;">R05-1段目からR06-2段目へ</td>
                    <td style="font-size:125%;">FX15-1</td>
                    <td style="font-size:125%;">運行</td>
                    <td style="font-size:125%;">
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57" aria-valuenow="56" style="width: 57%;"></div>
                      </div>
                    </td>
                    <td class="text-right">
                      <a class="btn btn-primary" disabled="">計画実行(START)</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size:125%;">R01-1段目からR04-1段目</td>
                    <td style="font-size:125%;">FX15-2</td>
                    <td style="font-size:125%;">運行</td>
                    <td style="font-size:125%;">
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="86" aria-valuenow="85" style="width: 86%;"></div>
                      </div>
                    </td>
                    <td class="text-right">
                      <a class="btn btn-primary" disabled="">計画実行(START)</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size:125%;">R05-1段目->R02-2段目</td>
                    <td style="font-size:125%;">FX15-3</td>
                    <td style="font-size:125%;">待機</td>
                    <td style="font-size:125%;">
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100" aria-valuenow="100" style="width: 100%;"></div>
                      </div>
                    </td>
                    <td class="text-right">
                      <a class="btn btn-primary">計画実行(START)</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /compose -->
{% endblock %}
