{% extends "base.html" %}
{% block title %}NKC管理画面{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- sidebar menu -->
            {% include "robofork_app/_admin_side_menu.html" with admin_vehicle_status="active" %}

            <!-- page content -->
            <div class="right_col" role="main">
                <h3>車両ステータス一覧:配置場所毎の現在の状態・ステータスなどを見る。配置場所での絞込など</h3>
                <h4>
                    ・個別車両ステータス<br>
                    　　個別の車両の細かいステータス<br>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}