{% extends "base.html" %}
{% block title %}場所明細 | Robofork{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block content %}
  <div class="container body">
    <div class="main_container">
      <!-- sidebar menu -->
      {% include "robofork_app/_admin_side_menu.html" with admin_location="active" %}

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="row">
          <div class="col-md-12">
            {% if form.errors %}
              <div class="col-md-8 alert alert-danger" role="alert">
                {% for field, error in form.errors.items %}
                  {{ field|escape }}: {{ error|escape }}
                {% endfor %}
              </div>
            {% endif %}
            <div class="x_panel">
              <div class="x_title">
                <h2>場所明細</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-8">
                  {% if form.instance.id %}
                    <form action="{% url 'vehicle_save' form.instance.id %}" method="post" class="form-horizontal" role="form" data-toggle="validator">
                  {% else %}
                    <form action="{% url 'vehicle_save' %}" method="post" class="form-horizontal" role="form" data-toggle="validator">
                  {% endif %}
                  {% csrf_token %}

                  <div class="form-group">
                    <label for="vehicle_name">場所名</label>
                    <input type="text" class="form-control" id="{{ form.name.auto_id }}"
                           name="{{ form.name.html_name }}"
                           placeholder="場所名" value="NKC滋賀工場" required/>
                    <small id="emailHelp" class="form-text text-muted">場所名を入力してください</small>
                  </div>

                  <div class="form-group">
                    <label for="vehicle_vehicle_no">運行計画マップ(画像)</label>
                    <input type="file" />
                    <small id="emailHelp" class="form-text text-muted">運行計画マップに利用する画像を指定します。登録できる画像形式はPNG/JPG形式です。</small>
                  </div>

                  <div class="form-group">
                    <label for="vehicle_name">PLC連携：受信</label>
                    <p>
                      PLCより受信するデータ(ASCII文字列)を定義してください。データ受信をトリガーに実行する運行計画は、各場所毎の運行計画作成画面で指定できます。
                    </p>
                    <div class="col-md-12">
                      <div class="col-md-12 text-right">
                          <a href="#" role="button" class="btn btn-success btn-sm">追加</a>
                      </div>
                      <br/>
                      <br/>
                      <div class="col-md-12">
                        <table class="table table-bordered bulk_action">
                          <thead>
                              <tr class="headings">
                                  <th class="column-title">受信データ</th>
                                  <th class="column-title">説明</th>
                                  <th class="column-title"></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>A1</td>
                                  <td>製品Aの製造が完了した</td>
                                  <td class="text-right">
                                      <a class="btn btn-danger btn-sm">削除</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td>B1</td>
                                  <td>製品B製造が完了した</td>
                                  <td class="text-right">
                                      <a class="btn btn-danger btn-sm">削除</a>
                                  </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="vehicle_name">PLC連携：送信</label>
                    <p>
                      PLCへ送信するデータ(ASCII文字列)を定義してください。運行計画完了をトリガーにデータを送信する場合、各場所毎の運行計画作成画面で指定できます。
                    </p>
                    <div class="col-md-12">
                      <div class="col-md-12 text-right">
                          <a href="#" role="button" class="btn btn-success btn-sm">追加</a>
                      </div>
                      <br/>
                      <br/>
                      <div class="col-md-12">
                        <table class="table table-bordered bulk_action">
                          <thead>
                              <tr class="headings">
                                  <th class="column-title">送信データ</th>
                                  <th class="column-title">説明</th>
                                  <th class="column-title"></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>CMP1</td>
                                  <td>製品Aの棚への移動が完了した</td>
                                  <td class="text-right">
                                      <a class="btn btn-danger btn-sm">削除</a>
                                  </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="vehicle_name">PLC連携：緊急停止信号</label>
                    <p>
                      PLCから受信する緊急停止信号データ(ASCII文字列)を定義してください
                    </p>
                    <div class="col-md-12">
                      <div class="col-md-12 text-right">
                          <a href="#" role="button" class="btn btn-success btn-sm">追加</a>
                      </div>
                      <br/>
                      <br/>
                      <div class="col-md-12">
                        <table class="table table-bordered bulk_action">
                          <thead>
                              <tr class="headings">
                                  <th class="column-title">受信データ</th>
                                  <th class="column-title">説明</th>
                                  <th class="column-title"></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>999</td>
                                  <td>火災報知</td>
                                  <td class="text-right">
                                      <a class="btn btn-danger btn-sm">削除</a>
                                  </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="vehicle_vehicle_no">防火扉位置</label>
                    <p>
                      防火扉の位置を、"右上座標/左下座標"(例:X=100,Y=-75/X=300,Y=-200)の形式で指定してください。複数行登録することで複数登録できます。
                    </p>
                      <textarea id="{{ form.extra_info_json.auto_id }}" name="{{ form.extra_info_json.html_name }}"
                                cols="30" rows="5" style="width: 100%;">X=100,Y=-75/X=300,Y=-200
X=700,Y=-200/X=750,Y=-250</textarea>
                  </div>

                  <input type="hidden" name="{{ form.vehicle_model.html_name }}" value="1" />

                  <button type="submit" class="btn btn-primary">登録</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}