{% extends "base.html" %}
{% block title %}NKC管理画面{% endblock %}
{% block body_class %}nav-md{% endblock %}

{% block content %}
    <div class="container body">
        <div class="main_container">
            <!-- sidebar menu -->
            {% include "robofork_app/_admin_side_menu.html" with admin_location="active" %}

            <!-- page content -->
            <div class="right_col col-md-12" role="main">
                <h2>配置場所一覧</h2>
                <h3>
                    <p>
                        ここに配置場所（ex:滋賀工場など）一覧が表示されます。
                    </p>
                </h3>
            </div>
        </div>
    </div>
{% endblock %}