.operation-plan-detail #map-container {
    position: relative;
    width: 460px;
    height: 580px;
}
.operation-plan-detail #map-img {
    position: relative;
    width: 460px;
    height: 580px;
}
.operation-plan-detail #map-draw-layer {
    position: absolute;
    width: 460px;
    height: 580px;
    top: 0;
    left: 0;
    /*background-color: #1b6d85;*/
    /*opacity: 0.25;*/
}